<launch>
  <rosparam command="load" file="$(find gofr_bringup)/launch/GOFR_controller.yaml"/>
  <node args="base_link_to_lift_position_controller joint_state_controller" name="controller_spawner" ns="GOFR" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
<!--   <node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
    <remap from="/joint_states" to="/GOFR/joint_states"/>
  </node> -->
</launch>
